html {
  /* 스크롤시 부드럽게 내려감 */
  scroll-behavior: smooth;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.search-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  width: 400px; /* 검색창 넓이 설정 */
}

.search-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.right-buttons {
  display: flex;
  align-items: center;
}

.post-btn,
.login-btn,
.profile-btn,
.logout-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.filters {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.filter-btn {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12vh;
}
.recipe-section {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin-top: 5vh;
  position: relative;
}
/*****     cards + arrows in a list     *****/
.cards-container {
  display: flex;
  align-items: center;
  position: relative;
  /* width = 4 cards * (card width 18vw + gap 2vw) */
  width: 80vw;
  height: 28vw;
  /* 넘치는 카드 가리기 */
  overflow: hidden;
}
/*****     cards in a list     *****/
.cards-container .card-list {
  display: flex;
  position: absolute;
  margin: 0 0 0 0.5vw; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
  left: 0;
  gap: 2vw;
}
/*****     슬라이드 버튼     *****/
.prev,
.next {
  all: unset;
  color: #007bff;
  opacity: 70%;
  font-size: 4vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  cursor: pointer;
}
.prev {
  left: 2vw;
}
.next {
  right: 2vw;
}
.prev:hover,
.next:hover {
  opacity: 100%;
  transform: scale(1.1) translateY(-50%);
}

/*****     each card     *****/
.recipe-card {
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 2%;
  width: 18vw;
  height: 26vw;
  list-style-type: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-card .image {
  background-color: #ddd;
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-card .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 25%;
  margin: 0;
  padding: 0;
  gap: 10%;
}

.recipe-card .title {
  font-size: 1.2vw;
  text-align: center;
}

.recipe-card .footer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.recipe-card .footer .author {
  width: 45%;
  font-size: 100%;
  color: #3e3d3d;
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  margin-left: 1vw;
}
.recipe-card .footer .author .author-image {
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
}

.recipe-card .footer .likes {
  width: 45%;
  color: #e74c3c;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.recipe-card .footer .likes .likes-btn {
  margin-right: 5%;
}

.recipe-card .footer .likes .likes-btn:hover {
  cursor: pointer;
}
