body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

header {
  width: 100%;
  background-color: #fff;
  padding: 1% 0;
  height: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
}

nav .logo {
  text-decoration: none;
  color: #007bff;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.profile-container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 20%;
  border-radius: 50%;
  margin-bottom: 1%;
}

.nickname {
  font-size: 150%;
  margin: 1% 0;
}

.bio {
  font-size: 100%;
  margin: 1% 0;
}

.email {
  font-size: 100%;
  margin: 1% 0;
  color: gray;
}

.edit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.edit-button:hover {
  background-color: #0056b3;
}

.followers {
  font-size: 100%;
  margin-top: 2%;
  color: #333;
}
